---
import WebsiteStateButton from "../WebsiteStateButton.astro";

const { study_info: studyInfo } = Astro.props;

const authors = "author" in studyInfo ? studyInfo.author : [{display_name: ""}];

function authorFormat(author_name, i, author_list) {
    if (i + 1 === author_list.length) {
        return author_name;
    } else {
        return author_name + ", ";
    }
}

// TODO: Organisation information - note this may be hard with current datamodels.
// Javascript considers objects to be unique, so two objects with the same fields do not === each other.
// In order to get a list of unique organisations as biostudies does we may need to do the filtering in the export
// or consider changing the models.
---
<section class="vf-content | embl-grid embl-grid--has-centered-content">
    <div>

    </div>
    <div>
        <h1 class="vf-intro__heading vf-intro__heading--has-tag">
            {studyInfo.accession_id}
            <WebsiteStateButton/>
        </h1>
        <h2 class="vf-intro__subheading">{studyInfo.title}</h2>
        <p>Released {studyInfo.release_date}</p>
        <p>
            {
                authors.map((contributor, i) =>
                    authorFormat(contributor.display_name, i, authors),
                )
            }
        </p>
    </div>
</section>