---
import BaseLayoutWithBreadcrumbs from '../../../../layouts/BaseLayoutWithBreadcrumbs.astro';
import WebsiteStateButton from '../../../../components/WebsiteStateButton.astro';
import StudyTitleInfo from '../../../../components/study-page/StudyTitleInfo.astro'
import StudyContentsSummary from '../../../../components/study-page/StudyContentsSummary.astro'
import DatasetInfo  from "../../../../components/spatialomics/DatasetInfo.astro"

// import exports from "../../../../data/old-export-format/bia-spatialomics-export.json";


import spatialomicsCollection from "../../../../data/collections/spatialomics.json"
import studyMetadata from "../../../../data/bia-study-metadata.json"
import {formatListItem, multilineTextRender, formatBytesToHumanSize, getStudyImage, getDatasetStatsByUUID} from "../../../../components/SharedJSFunctions.js"

export function getStaticPaths() {
  return spatialomicsCollection.accession_ids.map((id) => {
    return {
      params:  {accessionID: id }
    };
  });
}

const { accessionID } = Astro.params;
const study = studyMetadata[accessionID];

const tableOfContents = {
  "Study Information": "study",
  "Viewable Images": "viewable_images",
  "Dataset files": "file_references",
};

const images = study.image_uuids.map((uuid) => exports["images"][uuid]);

const breadcrumbs = [
  "/bioimage-archive",
  "/bioimage-archive/galleries",
  "/bioimage-archive/galleries/spatialomics",
]
---
<BaseLayoutWithBreadcrumbs pageTitle={study.accession_id} breadcrumbs={breadcrumbs}>
  <body class="vf-body">
  


  <section class="vf-intro | embl-grid embl-grid--has-centered-content | section-spacing">

<div class="vf-section-header">
  <h2 class="vf-section-header__heading" id="viewable_images">
    Viewable Images
  </h2>
</div>
<div>
  <table id="viewable_images_table" class="display">
    <thead>
      <tr>
        <th>Preview</th>
        <th>Filename</th>
        <th>Download Size</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {
        images.map((image) => (
          <tr>
            <th>
              <a href={"/bioimage-archive/galleries/spatialomics/image/" + image.uuid}><img class="vf-figure__image" src={image.thumbnail_uri}/></a> 
            </th>
            <th>{image.name}</th>
            <th>Unknown</th>
            <th>
              <a href={"/bioimage-archive/galleries/spatialomics/image/" + image.uuid}>View</a>
            </th>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    $("#viewable_images_table").DataTable({
      scrollX: true,
      columnDefs: [{ type: "natural", targets: 0 }],
    });
  });
</script>
</body>


  </body>
</BaseLayout> -->
