---
import BaseLayout from '../../layouts/BaseLayoutWithBreadcrumbs.astro';
import BrowseDatasetHeading from '../../components/BrowseStudiesHeading.astro';
import DatasetCard from '../../components/cards/GalleryDatasetCard.astro';

import collection from '../../data/collections/spatialomics.json';
import studyMetadata from '../../data/bia-study-metadata.json'


---
<BaseLayout pageTitle={ collection.name }>
  <body>
      <BrowseDatasetHeading
      heading={collection.title }
      subheading={collection.subtitle}
      contribute_link={"/bioimage-archive/help/galleries-contribute"}
    > 
      <p class="vf-hero__text" slot="body_text">{ collection.description }</p>
    </BrowseDatasetHeading>

      <section class="vf-card-container vf-card-container__col-3 | vf-u-background-color-ui--white vf-u-fullbleed" style="--vf-card__image--aspect-ratio: 16 / 9;"> 
        <div class="vf-card-container__inner">
            { Object.values(collection.accession_ids).map((accessionID) => ( <DatasetCard study={ studyMetadata[accessionID] } studyPageRoot="galleries/spatialomics/dataset"/> )) }
        </div>
     </section>  
  </body>
</BaseLayout>
