---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BrowseDatasetHeading from '../../components/BrowseDatasetsHeading.astro';
import DatasetCard from '../../components/cards/GalleryDatasetCard.astro';
import datasets from "../../data/datasets-card-summary.json";
import collection from '../../data/collections/vem.json';
---
<BaseLayout pageTitle={ collection.name }>
  <body>
    <BrowseDatasetHeading
      heading={collection.title }
      subheading={collection.subtitle}
      contributeLink={"/bioimage-archive/help/galleries-contribute"}
    > 
      <p class="vf-hero__text" slot="body_text">{ collection.description }</p>
    </BrowseDatasetHeading>
    <section class="vf-card-container vf-card-container__col-3 | vf-u-background-color-ui--white vf-u-fullbleed" style="--vf-card__image--aspect-ratio: 16 / 9;">
        <div class="vf-card-container__inner">
            { Object.values(collection.accession_ids).map((accessionID) => ( <DatasetCard dataset={datasets[accessionID]} datasetPagePath={`https://www.ebi.ac.uk/empiar/${accessionID}`}/>)) }
        </div>
    </section>
  </body>
</BaseLayout>
