---
import BaseLayout from '../../layouts/BaseLayout.astro';
import VolumeEMImage from '../../components/cards/VolumeEMImage.astro';
import vemImages from "../../data/collections/vem_image_summaries.json";
---
<BaseLayout pageTitle="Volume EM Gallery">
  <body>
    <section class="vf-intro | embl-grid embl-grid--has-centered-content">
        <div></div>
        <div>
            <h1 class="vf-intro__heading vf-intro__heading--has-tag">EMPIAR Volume EM Volumes <a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">alpha</a></h1>
            <h2 class="vf-intro__subheading">Volume EM images across a range of species, imaging methods and reconstruction approaches. Each volume has background information, and can be viewed in the browser, or accessed remotely.</h2>
            <p></p>
        </div>
        <div></div>
    </section> 
    <section class="vf-card-container vf-card-container__col-4 | vf-u-background-color-ui--white vf-u-fullbleed" style="--vf-card__image--aspect-ratio: 16 / 9;">
        <div class="vf-card-container__inner">
            { Object.entries(vemImages).map(([uuid, image]) => (
                <VolumeEMImage image={{...image, uuid}} />
            ))}
        </div>
    </section>
  </body>
</BaseLayout>
