---
import BaseLayout from '../layouts/BaseLayout.astro';
import DatasetCard from '../components/BrowseDatasetCard.astro';
import study_info from "../data/bia-study-metadata.json"
---
<BaseLayout pageTitle="Datasets">
  <body>
    <section class="vf-intro | embl-grid | embl-grid--has-centered-content">
        <div></div>
        <div>
            <h1 class="vf-intro__heading vf-intro__heading--has-tag">Browse the BioImage Archive<a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">alpha</a></h1>
            <p class="vf-hero__text">We are in the process of processing all BioImage Archive studies in order to display and access their images in the web browser on this page. All studies (including ones not yet prepared for this site) can be found <a href="https://www.ebi.ac.uk/biostudies/BioImages/studies">here</a>.</p>
            <p></p>
            <p class="vf-hero__text"> Check <a href="/bioimage-archive/submit">here </a>for how to submit data to the archive</p>
        </div>
        <div></div>
    </section> 
    <section class="vf-card-container vf-card-container__col-4 | vf-u-background-color-ui--white vf-u-fullbleed" style="--vf-card__image--aspect-ratio: 16 / 9;">
        <div class="vf-card-container__inner">
            { Object.values(study_info).map((study) => ( <DatasetCard dataset={study} dataset_path="dataset"/> )) }
        </div>
    </section>
  </body>
</BaseLayout>
