---
export const prerender = false;
import BaseLayoutWithBreadcrumbs from '../layouts/BaseLayoutWithBreadcrumbs.astro';
import BrowseStudyHeading from '../components/BrowseStudiesHeading.astro';
import "../styles/toggle.css";
import "../styles/browse_controls.css";
import "../styles/filter_cards.css";
import SearchResults from "../components/search/Search.astro";

const url = new URL(Astro.request.url);
const query = url.searchParams.get('query') || "";
let pageTitle = query.length === 0? "Browse Images": "Search Images"; 
---
<BaseLayoutWithBreadcrumbs pageTitle={pageTitle}>
  <body>
  {query.length === 0 && (
      <BrowseStudyHeading heading="Browse the BioImage Archive" contributeLink={"/bioimage-archive/submit"}> 
        <div slot="body_text">
          <p class="vf-hero__text">We are currently working on processing all BioImage Archive studies in order to display and access their images in the web browser on this page. </p>
        </div>
      </BrowseStudyHeading>
    )
  }
  <SearchResults query={query} url={url} searchType="image"/>
  </body>
</BaseLayoutWithBreadcrumbs>

<script type="module">
  var toggle = document.getElementById('image_toggle');

  toggle.addEventListener('change', (event) => {
    const sortBy = event.target.value;
    const url = new URL(window.location.href);
    url.searchParams.set('hasImages', toggle.checked);
    window.location.href = url.toString();
  });
</script>