---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import BrowseDatasetHeading from '../../../components/BrowseDatasetsHeading.astro';
import DatasetCard from '../../../components/cards/GalleryDatasetCard.astro';

import collection from '../../../data/collections/ai-ready-datasets.json';
import exports from "../../../data/old-export-format/bia-ai-export.json";

const datasets = exports["datasets"];

---
<BaseLayout pageTitle={ collection.name }>
  <body>
    <BrowseDatasetHeading
    heading={collection.title }
    subheading={collection.subtitle}
    contribute_link={"/bioimage-archive/help/galleries-contribute"}
  > 
     <p class="vf-hero__text" slot="body_text">{ collection.description }</p>
  </BrowseDatasetHeading>

    <section class="vf-card-container vf-card-container__col-3 | vf-u-background-color-ui--white vf-u-fullbleed" style="--vf-card__image--aspect-ratio: 16 / 9;">
        <div class="vf-card-container__inner">
          { Object.values(datasets).map((dataset) => ( <DatasetCard study_info={ dataset } study_page_path={"/bioimage-archive/galleries/ai/ai-ready-dataset/" + dataset.accession_id} /> )) }
        </div>
    </section>
  </body>
</BaseLayout>