---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import BrowseDatasetHeading from '../../../components/BrowseDatasetsHeading.astro';
import DatasetCard from '../../../components/cards/BrowseDatasetCard.astro';

import collection from '../../../data/collections/ai-benchmark-datasets.json';
import studyMetadata from '../../../data/bia-study-metadata.json'
import additionalStudyInfo from '../../../data/ai-dataset-benchmarking/additional-study-metadata.json'

const datasetsIDs = collection["accession_ids"];

---
<BaseLayout pageTitle={ collection.name }>

  <BrowseDatasetHeading
    heading={collection.title }
  > 
     <p class="vf-hero__text" slot="body_text">{ collection.description }</p>
  </BrowseDatasetHeading>

    <section class="vf-card-container | vf-card-container__col-4 | vf-u-background-color-ui--white | vf-u-fullbleed"  style="--vf-card__image--aspect-ratio: 16 / 9;">
        <div class="vf-card-container__inner">
          { Object.values(datasetsIDs).map((accessionID) => ( <DatasetCard study={ studyMetadata[accessionID] } studyPageRoot={"galleries/ai/analysed-dataset"} taglist={additionalStudyInfo[accessionID]?.tags || []} card_img_override={additionalStudyInfo[accessionID].hero_image}/> )) }
        </div>
    </section>
  </body>
</BaseLayout>