---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import BrowseDatasetHeading from '../../../components/BrowseDatasetsHeading.astro';
import DatasetCard from '../../../components/cards/BrowseDatasetCard.astro';

import collection from '../../../data/collections/ai-benchmark-datasets.json';
import study_info from '../../../data/bia-study-metadata.json'
import additional_study_info from '../../../data/ai-dataset-benchmarking/additional-study-metadata.json'

const datasets_ids = collection["accession_ids"];

---
<BaseLayout pageTitle={ collection.name }>

  <BrowseDatasetHeading
    heading={collection.title }
  > 
     <p class="vf-hero__text" slot="body_text">{ collection.description }</p>
  </BrowseDatasetHeading>

    <section class="vf-card-container | vf-card-container__col-4 | vf-u-background-color-ui--white | vf-u-fullbleed"  style="--vf-card__image--aspect-ratio: 16 / 9;">
        <div class="vf-card-container__inner">
          { Object.values(datasets_ids).map((acc_id) => ( <DatasetCard study_info={ study_info[acc_id] } study_page_path={"galleries/ai/analysed-dataset"} taglist={additional_study_info[acc_id]?.tags || []} card_img_override={additional_study_info[acc_id].hero_image}/> )) }
        </div>
    </section>
  </body>
</BaseLayout>