---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import BrowseDatasetHeading from '../../../components/BrowseDatasetsHeading.astro';
import ModelCard from '../../../components/cards/AIModelCard.astro';
import  "../../../styles/toggle.css"

import modelMetadata from '../../../data/ai-dataset-benchmarking/model-metadata.json'
import collection from '../../../data/collections/ai-benchmark-models.json';


---
<BaseLayout pageTitle={ collection.name }>
  <body>
    <BrowseDatasetHeading
    heading={collection.title }
  > 
     <p class="vf-hero__text" slot="body_text">{ collection.description }
      <br/>
      <span style="display: flex; justify-content: space-evenly; flex-wrap: wrap; padding-top:8px">
        <a href="https://ai4life.eurobioimaging.eu/" class="vf-badge vf-badge--primary" style="height: 60px; width: 240px; display: flex; justify-content: space-evenly;">
            <img src="/bioimage-archive/ai-galleries/AI4Life_logo_neg_giraffe_solid.png" style="max-height:140%; padding-top:-40%">
        </a>
        <a href="https://bioimage.io/#/" class="vf-badge vf-badge--primary" style="height: 60px; width: 240px; display: flex; justify-content: space-evenly;">
            <img src="/bioimage-archive/ai-galleries/bioimage-io-logo-white.png" style="max-height:80%; padding:10px">  
        </a>
     </span>
     </p>
  </BrowseDatasetHeading>



  <div style="display: flex;  justify-content: space-between; flex-wrap: wrap; width: 100%;">
    <span>
      <text> Filter models that have benchmarking scores:  </text>
      <label class="switch" id="image_toggle_switch">
        <input type="checkbox" id="image_toggle">
        <span class="slider round"></span>
      </label>
    </span>

    <script>
    
      var toggle = document.getElementById('image_toggle') as HTMLInputElement;

      toggle.addEventListener('change', () => filterElements(toggle));

      function filterElements(toggle) {
        const cards = document.querySelectorAll('.vf-card')
        if (!toggle.checked) {
          cards.forEach((card) => displayElement(card as HTMLElement));
        } else {
          cards.forEach((card) => toggleCard(toggle.checked, card as HTMLElement));
        }
      }

      function toggleCard(requires_image: boolean, card: HTMLElement) {
        var cardData = card.dataset.message;
        var isBenchmarked = cardData.substring(cardData.lastIndexOf("is_benchmarked") + 16);
        if (requires_image) {
          if (isBenchmarked =='true') {
            displayElement(card)
          } else {
            hideElement(card)
          }
        } else {
          displayElement(card)
        }
      }

      function displayElement(card: HTMLElement) {            
        card.style.display = ""
      }

      function hideElement(card: HTMLElement) {
        card.style.display = "none"
      }
    </script>
  </div>


    <section class="vf-card-container | vf-card-container__col-4 | vf-u-background-color-ui--white | vf-u-fullbleed"  style="--vf-card__image--aspect-ratio: 16 / 9;">
        <div class="vf-card-container__inner">
          { Object.entries(modelMetadata).map(
            ([modelName, model]) => 
            ( <ModelCard model={ model } modelPageUrl={`/bioimage-archive/galleries/ai/model/${modelName}`}/> )
          ) }
        </div>
    </section>
  </body>
</BaseLayout>