---
import '/src/styles/active_left_menu.css'
const pageData = {
    "about-us": "About Us",
    "case-studies": "Case Studies",
    "project-developments": "Project Developments",
    "contact-us": "Contact Us"
  }

// Method to make sure dev and prod behave the same whilst having Astro config trailingslash set to ignore by default
function addTrailingSlash(pathname: String) {
    pathname += pathname.endsWith("/") ? "" : "/";
    return pathname
}
const pathname = addTrailingSlash(Astro.url.pathname);
const pagename = pathname.split('/').at(-2);

---
<ul class="vf-list vf-list--l">
    {Object.entries(pageData).map(([key, value]) => (
      <li class={pagename === key ? "vf-list__item | active" : "vf-list__item"}>
          <a href={`/bioimage-archive/${key}`} class="vf-navigation__link">{value}</a>
      </li>
      )
    )}
</ul>