---

---
<hr />
<footer>
  <section class="vf-gird bia-footer-inner">
    <div class="bia-footer-block" style="flex: 1;justify-content: flex-start;">
      <div class="elixir-logo-kite" aria-hidden="true"></div>
      <div class="bia-footer-text">
        <div>The BioImage Archive is part of the ELIXIR infrastructure. 
          The BioImage Archive is a recommended ELIXIR Deposition Database.
          <a href="https://elixir-europe.org/platforms/data/elixir-deposition-databases" class="vf-link">Learn more</a>
        </div>
      </div>
    </div>
    <div class="bia-footer-block" style="flex: 1;justify-content: flex-end;text-align: left;">
      <div class="bia-footer-text">
        <div>
          The BioImage Archive is developed in collaboration with
          <a href="http://www.eurobioimaging.eu/" class="vf-link">Euro-BioImaging</a>.
        </div>
      </div>
      <div class="eubi-logo-kite" aria-hidden="true"></div>
    </div>
  </section>
</footer>
<style>
.bia-footer-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bia-footer-block{
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 80px;
}

.bia-footer-text{
  max-width: 75%;
}

.eubi-logo-kite,
.elixir-logo-kite{
  height: 60px;
  width: 60px;
  display: inline-block;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  flex: 0 0 60px;
}

.eubi-logo-kite{
  background-image: url("https://www.ebi.ac.uk/bioimage-archive/static/euro_bio_imaging_logo.jpg");
}

.elixir-logo-kite{
  background-image: url("https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/assorted/elixir_kitemark-60px.png");
}
</style>