---
import biaLogo from "../assets/bioimage-archive/BIA_new_logo.png"
import bannerImage from "../assets/bioimage-archive/banner.webp";
import SearchBar from "../components/search/SearchBar.astro";

---

<header>
  <section 
    class="vf-hero vf-hero--800 vf-hero--search | vf-u-fullbleed"
    style={`background-image: url('${bannerImage.src}');`}>
        <div class="vf-hero__content | vf-box | vf-stack vf-stack--400">
            <section style="display: flex; gap: 10px;">
                <div>
                    <img src={biaLogo.src} style="width:80px">
                </div>
                <div>
                    <h2 class="vf-hero__heading">BioImage Archive</h2>
                    <p class="vf-hero__subheading">A resource for open, FAIR life science imaging data</p>
                </div>
            </section>
        <SearchBar/>
        </div>
    </section>
</header>
