---
import image_metadata from "../data/bia-image-metadata.json";
import image_fallback from "../assets/bioimage-archive/image_fallback.png"

const { image , datasetTitle} = Astro.props;

function getThumbnail(uuid, imageMetadata) {
    if (uuid in imageMetadata) {
        const thumbnail = imageMetadata[uuid].representation.find((rep)=>rep.use_type == "THUMBNAIL")
        if (thumbnail != undefined) {
            return thumbnail.file_uri[0]
        }
    }
    return image_fallback.src
}

function getDownloadSize(uuid, imageMetadata) {
    if (uuid in imageMetadata) {
        const submitter_data = imageMetadata[uuid].representation.find((rep)=>rep.use_type == "UPLOADED_BY_SUBMITTER")
        if (submitter_data != undefined) {
            return submitter_data.total_size_in_bytes
        }
    }
    return "Unknown"
}

---
<tr>
  <th>
    <a href={"/bioimage-archive/image/" + image.uuid}><img class="vf-figure__image" src={getThumbnail(image.uuid, image_metadata)}/></a>
  </th>
  <th>{image.uuid}</th>
  <th>{datasetTitle}</th>
  <th>{getDownloadSize(image.uuid, image_metadata)}</th>
  <th>
    <a href={"/bioimage-archive/image/" + image.uuid}>View</a>
  </th>
</tr>