---
const page_data = {
    "": "Home",
    datasets: "Browse",
    submit: "Submit",
    galleries: "Galleries",
    help: "Help",
    policies: "Policies",
    "about-us": "About"
}
const pathname = Astro.url.pathname;
const base_path = pathname.split('/')[2];

---


<nav class="vf-navigation | vf-navigation--main" style="margin-top: 0.25rem; padding: 0 8px 0 8px;">
  <style>
    .active { 
      color: #3b6fb6;
      font-weight: bold;
      }
    li.active {
      border-bottom: 2px solid;
    }
  </style>
  <ul class="vf-navigation__list | vf-list" style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 0px;">
    {Object.entries(page_data).map(([key, value]) => (
      <li class={base_path === key ? "vf-navigation__item | active" : "vf-navigation__item"}  style="padding: 8px;">
          <a href={`/bioimage-archive/${key}`} class={base_path === key ? "vf-navigation__link | active" : "vf-navigation__link"}>{value}</a>
      </li>
      )
    )}
  </ul>
</nav>
<hr style="margin-top: 0px;">
