---
const pageData = {
    "": "Home",
    datasets: "Browse",
    submit: "Submit",
    galleries: "Galleries",
    help: "Help",
    policies: "Policies",
    "about-us": "About"
}
const pathname = Astro.url.pathname;
const basePath = pathname.split('/')[2];



---
<style>
  .active { 
    color: #3b6fb6;
    font-weight: bold;
    }
  li.active {
    border-bottom: 2px solid;
  }
  .navbar {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: #D0D0CE 2px solid;
    z-index: 6;
    margin: 0.25rem 0 8px;
    padding: 0 8px 0 8px;
  }
</style>

<nav class="vf-navigation | vf-navigation--main | navbar | vf-u-fullbleed" style="display: block;">
  <ul class="vf-navigation__list | vf-list" style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 0px;">
    {Object.entries(pageData).map(([key, value]) => (
      <li class={basePath === key ? "vf-navigation__item | active" : "vf-navigation__item"}  style="padding: 8px;">
          <a href={`/bioimage-archive/${key}`} class={basePath === key ? "vf-navigation__link | active" : "vf-navigation__link"}>{value}</a>
      </li>
      )
    )}
  </ul>
</nav>
