---
import ImageRow from "./ImageTableRow.astro"
const { study, images, imagePageRoot } = Astro.props;

---

<section class="vf-intro | embl-grid embl-grid--has-centered-content | section-spacing">
    <div class="vf-section-header">
      <h2 class="vf-section-header__heading" id="viewable_images">
        Viewable Images
      </h2>
    </div>
    {Array.isArray(images) && images.length > 0 ? (
      <div>
      <table id="viewable_images_table" class="display">
        <thead>
          <tr>
            <th>Preview</th>
            <th>UUID</th>
            <th>Dataset</th>
            <th>Download Size (bytes)</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {
            images.map((image) => (
              <ImageRow image={image} datasetTitle={study.dataset.find((dataset) => dataset.uuid === image.submission_dataset_uuid).title} imagePageRoot={imagePageRoot}/>
            ))
          }
        </tbody>
      </table>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
              $("#viewable_images_table").DataTable({
                scrollX: true,
                columnDefs: [{ type: "natural", targets: 0 }],
              });
            });

    </script>
    ): (
      <div>
        <p>
          We currently have no viewable interactive images for this study. You can read more as to why this might be the case <a href="/bioimage-archive/help/about-the-new-website#why-does-a-submission-not-have-any-interactive-images">here</a>. 
        </p>
      </div>
    )}
    
</section>