---
import "/src/styles/bars_and_sections.css"
import 'datatables.net';

import DataTable from 'datatables.net-dt';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import Announcement from "../components/Announcement.astro";
import { PUBLIC_GTAG } from "astro:env/client";
const { pageTitle } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---
<html lang="en" class="vf-js" style="scroll-padding-top: 48px">
  <head>
    <!-- Google tag (gtag.js) -->
		<script is:inline async src={"https://www.googletagmanager.com/gtag/js?id=" + PUBLIC_GTAG}></script>
		<script
			set:html={`
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', '${PUBLIC_GTAG}');
			`}
		/>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`${baseUrl}/BIA-logo.svg`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- CSS only -->
    <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.5.12/css/styles.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />

    <!-- JS -->     
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script> 
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <meta name="robots" content="noindex, nofollow">

    <title>{pageTitle}</title>
  </head>

  <header id="masthead-black-bar" class="clearfix masthead-black-bar | ebi-header-footer vf-content vf-u-fullbleed"></header>
  <script defer="defer" src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/js/script.js"></script>
  <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.5.8/assets/ebi-header-footer/ebi-header-footer.css" type="text/css" media="all">
  <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css" type="text/css" media="all">

  <body class="vf-body">
    <Header />
    <Navigation />
    <Announcement />
    <slot />
    <Footer />
  </body>
  
  <!-- Script required for bottom bar -->
  <script src="https://assets.emblstatic.net/vf/v2.5.12/scripts/scripts.js"/>
  <link rel="import" href="https://www.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=106902&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader/>
</html>
