---
import AboutusNavigation from '../components/AboutusNavigation.astro';
import RightMenuCard from '../components/RightMenu.astro';
import BaseLayout from './BaseLayout.astro';

---
<BaseLayout pageTitle="Case Studies">
  <section class="embl-grid embl-grid--has-centered-content">
    <div>
      <AboutusNavigation />
    </div>
    <div class="vf-content">
      <slot />
    </div>
    <div>
      <RightMenuCard />
    </div>
  </section>
</BaseLayout>

