---
import "/src/styles/bars_and_sections.css"

import EMPIARHeader from '../components/EMPIARHeader.astro';
import Navigation from '../components/Navigation.astro';
import Breadcrumbs from "../components/Breadcrumbs.astro";

const { pageTitle, breadcrumbs } = Astro.props;

const pagePath = breadcrumbs != null ? breadcrumbs : Astro.url.pathname;

---
<html lang="en" class="vf-js">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/bioimage-archive/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- CSS only -->
    <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.5.12/css/styles.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />

    <!-- JS -->     
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script> 
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <meta name="robots" content="noindex, nofollow">
    
    <title>EMPIAR - {pageTitle}</title>
  </head>
  <body class="vf-body">
    <header id="masthead-black-bar" class="clearfix masthead-black-bar | ebi-header-footer vf-content vf-u-fullbleed"></header>
    <script defer="defer" src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/js/script.js"></script>
    <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.5.8/assets/ebi-header-footer/ebi-header-footer.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css" type="text/css" media="all">
    <EMPIARHeader />
    <Navigation />
    <Breadcrumbs pageTitle={pageTitle} pagePath={pagePath}/>
    <slot />
  </body>
  
  <!-- Script required for bottom bar -->
  <script src="https://assets.emblstatic.net/vf/v2.5.12/scripts/scripts.js"></script>
  <link rel="import" href="https://www.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=106902&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
</html>
