---
const { frontmatter } = Astro.props;
import HelpNavigation from '../components/HelpNavigation.astro';
import BaseLayout from './BaseLayout.astro';
---
<BaseLayout pageTitle={frontmatter.title}>
  <section class="embl-grid embl-grid--has-centered-content">
    <div>
      <HelpNavigation />
    </div>
    <div class="vf-content">
      <slot />
    </div>
  </section>
</BaseLayout>