---
const { frontmatter } = Astro.props;
import BaseLayout from './BaseLayout.astro';


---
<BaseLayout pageTitle={frontmatter.title}>
  <section class="vf-grid | vf-grid__col-3">
    <div class="vf-grid__col--span-2">
      <div class="vf-content">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>
