---
const { pageTitle } = Astro.props;
import Footer from '../components/Footer.astro';
import { PUBLIC_GTAG } from "astro:env/client";
const baseUrl = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script is:inline async src={"https://www.googletagmanager.com/gtag/js?id=" + PUBLIC_GTAG}></script>
		<script
			set:html={`
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', '${PUBLIC_GTAG}');
			`}
		/>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href={`${baseUrl}/BIA-logo.svg`} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- CSS only -->
		<link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.5.12/css/styles.css"/>

		<!-- JS -->
		<script src="https://assets.emblstatic.net/vf/v2.5.12/scripts/scripts.js"/>
		<script>
			// Detect if JS is on and swap vf-no-js for vf-js on the html element
			(function (H) {
			  H.className = H.className.replace(/\bvf-no-js\b/, "vf-js");
			})(document.documentElement);
		</script>

		<meta name="robots" content="noindex, nofollow">

		<title>{pageTitle}</title>
	</head>

	<header id="masthead-black-bar" class="clearfix masthead-black-bar | ebi-header-footer vf-content vf-u-fullbleed"></header>
	<script defer="defer" src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/js/script.js"></script>
	<link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.5.8/assets/ebi-header-footer/ebi-header-footer.css" type="text/css" media="all">
	<link rel="stylesheet" href="https://ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css" type="text/css" media="all">
	<body class="vf-body">
		<slot />
		<Footer />
	</body>

	<!-- Script required for bottom bar -->
	<script src="https://assets.emblstatic.net/vf/v2.5.12/scripts/scripts.js"/>
	<link rel="import" href="https://www.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=106902&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader/>
</html>